* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  margin-bottom: 25px;
}

h1 {
  margin: 20px;
}

h2 {
  margin-top: 20px;
}

table {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-spacing: 0px;
}

th {
  border: 1px solid black;
  background-color: gray;

  color: white;
  font-weight: bold;
  width: 150px;
}
th:first-child {
  width: 100px;
}

td {
  border: 1px solid black;
  text-align: right;
  padding-right: 10px;
  width: 150px;
}
td:first-child {
  text-align: center;
  width: 100px;
}
/* Last row of index.html */
#totalSumOfParagraps {
  color: white;
  background-color: gray;
  font-weight: bold;
}

button {
  height: 25px;
  padding: 0 10px;
  margin: 25px;
}

#pagination button {
  height: 25px;
  padding: 0 10px;
  margin: 2px;
}

#pagination {
  margin: 10px auto;
  text-align: center;

  width: 400px;
}

#pagination button:active {
  background-color: gray;
}
